
img{
    width: 200px;
}


.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
    padding: 15px 5px;
    color: #000;
    position: relative;
    font-family: Aspira,FreeSans,Arimo,Droid Sans,Helvetica,Arial,sans-serif;
    display: flex;
    align-items: center;
}

.nav-item ul li{
    list-style-type: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item{
    color: #555;
    font-size: 1rem;
    margin: 0.8rem 0;
}

.dropdown-item:hover{
    color: #eb7100;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }

nav{
    border-bottom: 4px solid #eb7100 ;
}

.bg-body-tertiary {
    background-color: white!important;
}

.searchbox{
    position: relative;
}
.search-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    padding: 0px;
    background-color: #eb7100;
    border: none;
    color: #fff;
    border-radius: 50%;
}

@media screen and (max-width: 600px){
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    li button{
        padding: 3rem 3rem;
        margin-right: 2.6rem;
        font-size: 2.2rem;
    }
}
